.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content {
  margin-left: 250px;
  flex: 1;
  padding: 2rem;
  background-color: #ffffff;
  overflow-y: auto;
  min-height: 100vh;
}